ATTRS{name}=="WaveShare WaveShare", ENV{LIBINPUT_CALIBRATION_MATRIX}="0 1 0 -1 0 1"
ATTRS{name}=="ILITEK ILITEK-TP", ENV{LIBINPUT_CALIBRATION_MATRIX}="-1 0 1 0 -1 1"