- name: "copy to ansible user home"
  become: true
  copy:
    src: sven
    dest: /home/ansible
    owner: ansible
    group: ansible
  register: copy

- name: "docker compose up"
  become: true
  community.docker.docker_compose_v2:
    project_src: /home/ansible/sven
    remove_orphans: true
    build: "always"
  when: copy.changed or force_all

- name: "create directory for gitlab backups"
  become: true
  file:
    path: /mnt/auxiliary/gitlab/backups
    state: directory
    owner: ansible
    group: ansible
    mode: '0777'

- name: "copy ansible private key to access garry"
  copy:
    src: ../ansible_key
    dest: /mnt/auxiliary/gitlab/ansible_key
    owner: ansible
    group: ansible
    mode: '0700'

- name: "backup cron"
  cron:
    name: "gitlab-backup"
    minute: "0"
    hour: "4"
    job: "rsync -a --delete -e 'ssh -i /mnt/auxiliary/gitlab/ansible_key -p2244 -o StrictHostKeyChecking=no' --rsync-path='sudo rsync' ansible@garry.spatz.wtf:/mnt/gitlab-data/data/backups /mnt/auxiliary/gitlab/ && chmod -R 0777 /mnt/auxiliary/gitlab/backups && curl -fsS -m 10 --retry 5 -o /dev/null {{ lookup('file', 'backup-rsync.healthcheck-url') }}"

- name: "traefik reload cron"
  cron:
    name: "traefik-reload"
    minute: "0"
    hour: "2"
    job: "docker kill --signal=SIGHUP traefik && curl -fsS -m 10 --retry 5 -o /dev/null {{ lookup('file', 'traefik-reload.healthcheck-url') }}"
