======================================================================================================================================================
ram (ansible.builtin.shell: "dmidecode -t memory | grep -E \"Size|Manufacturer|Memory Device|Type: DDR|Capacity|Devices|Memory Array\" --color=never")
======================================================================================================================================================
{{ ram.stdout }}

======================================================================================================================================================
gpu (ansible.builtin.shell: "nvidia-smi -L")
======================================================================================================================================================
{{ gpu.stdout }}

======================================================================================================================================================
cpu (ansible.builtin.shell: "cat /proc/cpuinfo | grep -E \"model name|cpu cores\" --color=never | sort -r | uniq")
======================================================================================================================================================
{{ cpu.stdout }}

======================================================================================================================================================
disk (ansible.builtin.shell: "parted -l")
======================================================================================================================================================
{{ disk.stdout }}

======================================================================================================================================================
diskusage (ansible.builtin.shell: "LANG=C.UTF8 df -h | grep -E \"Filesyste|^/dev/\" --color=never")
======================================================================================================================================================
{{ diskusage.stdout }}

======================================================================================================================================================
network infterfaces (ansible.builtin.shell: "ip --brief addr | grep -vE '(^docker|^veth|^lo)'")
======================================================================================================================================================
{{ network.stdout }}