[Unit]
Description=Simulator Tracks
After=network.target
Requires=wait-for-nfs@{{ mount_hostname }}.service
After=wait-for-nfs@{{ mount_hostname }}.service

[Mount]
What={{ mount_hostname }}:/mnt/auxiliary/sim_tracks
Where=/opt/sim_tracks
Type=nfs
Options=auto,fsc,_netdev

[Install]
WantedBy=multi-user.target
