[Unit]
Description=Skel
After=network.target
Requires=wait-for-nfs@{{ mount_hostname }}.service
After=wait-for-nfs@{{ mount_hostname }}.service

[Mount]
What={{ mount_hostname }}:/mnt/auxiliary/skel
Where=/opt/skel
Type=nfs
Options=ro,hard,intr,auto,fsc,_netdev

[Install]
WantedBy=multi-user.target
