- name: "install flatpaks"
  become: true
  flatpak:
    name:
      - com.google.Chrome
      - com.jetbrains.CLion
      - com.discordapp.Discord
      - com.spotify.Client
      - org.mozilla.Thunderbird
    state: latest

- name: install apt packages
  become: true
  apt:
    state: present
    name:
      # LaTeX
      - texstudio
      - texlive-fonts-extra
      - texlive-fonts-recommended
      - texlive-lang-german
      - texlive-bibtex-extra
      - texlive-latex-extra
      - latexmk
      - texlive-science